# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# svelte
.svelte-kit

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# mine I added
build
dist
package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
# pnpm-lock.yaml
# package-lock.json
# yarn.lock

.yarn/*
!.yarn/releases
!.yarn/plugins